<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
  <% allPokemon.forEach(poke => { %>
    <li>
      <strong><%= poke.name %></strong> 
      (Trainer: <%= poke.trainer_name %>)
    </li>
  <% }) %>
</ul>
    <button><a href="/">Back Home</a></button>
</body>
</html>