<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('navbar') %>
    <h2>Displays all the Trainers Here...</h2>
    <ul>
        <% trainee.forEach(trainer => { %> 
        <li>
            <a href="/trainer/<%= trainer.id %>">
                <%= trainer.trainer_name %>
            </a>
        </li>
        <% }); %>
    </ul>

</body>
</html>