<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/trainer/<%= newPoke.id %>/newpokemon" method="post">
        <label for="newPokemon">Name: </label>
        <input type="text" name="name" placeholder="Enter a pokemon name" required>
        <br>
        <label for="pokemonType">Type: </label>
        <input type="text" name="type" placeholder="Enter the Pokemon's type" required>
        <br>
        <label for="pokemonDesc">Description: </label>
        <input type="text" name="description" placeholder="Describe the Pokemon" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>