<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Type</h3>
    <p><%= pokemon.type %></p>
    <h3>Description</h3>
    <p><%= pokemon.description %></p>

    <button><a href="/trainer/<%= trainer.id %>/">Back to Trainer</a></button>
</body>
</html>